[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
python-decouple = "*"
djangorestframework = "*"
psycopg2 = "==2.8.6"
djangorestframework-jwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
